# -------------------------
# Gradle / Kotlin
# -------------------------
.gradle/
**/.gradle/
.kotlin/
**/.kotlin/
build/
**/build/
out/
**/out/

# -------------------------
# IDE
# -------------------------
.idea/
*.iml

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# Local overrides / secrets
# -------------------------
local.properties
.env
.env.*
